[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-kernel
[submodule "lib/coreMQTT"]
	path = lib/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
[submodule "lib/mbedtls"]
	path = lib/ThirdParty/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/cellular"]
	path = lib/cellular
	url = https://github.com/ActoryOu/FreeRTOS-Cellular-Interface
[submodule "lib/backoff_algorithm"]
	path = lib/backoff_algorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm
[submodule "lib/FreeRTOS-Libraries-Integration-Tests"]
	path = lib/FreeRTOS-Libraries-Integration-Tests
	url = https://github.com/FreeRTOS/FreeRTOS-Libraries-Integration-Tests
[submodule "lib/ThirdParty/Unity"]
	path = lib/ThirdParty/Unity
	url = https://github.com/ThrowTheSwitch/Unity
