[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-kernel
[submodule "lib/coreMQTT"]
	path = lib/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
[submodule "lib/mbedtls"]
	path = lib/ThirdParty/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/cellular"]
	path = lib/cellular
	url = https://github.com/ActoryOu/FreeRTOS-Cellular-Interface/
	branch = split
[submodule "lib/backoff_algorithm"]
	path = lib/backoff_algorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm
[submodule "lib/cellular-modules/ThirdParty/Community-Supported-Ports"]
	path = lib/cellular-modules/ThirdParty/Community-Supported-Ports
	url = https://github.com/FreeRTOS/FreeRTOS-Cellular-Interface-Community-Supported-Ports
